html{

}
body {
  color: black;
  font-family: "Helvetica", sans-serif;
  padding: 0;
  font-size: 17px;
  margin: 0;
  background-attachment: fixed;
  background-position: left; 
	background-image: Intro.gif;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
  font-weight: 100;
	height: 100%;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

div.loading{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background-color: white;
	z-index: 2; 
	
	transition: opacity 1s;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

div.loading img{
	animation: rotate 4s infinite linear;
}

div.loading.hidden{
	opacity: 0;
	pointer-events: none;
}

h5 {
	font-family: "Helvetica", sans-serif;
	font-size: 17px;
	font-weight: 100;
	padding-right: 35px;
	padding-top: 10px;
	line-height: 1.3;
	text-align: left;
}

h3 {
	font-family: "Helvetica", sans-serif;
	font-size: 13px;
	font-weight: 100;
	line-height: 1.3;
	text-align: left;
	color: white;
}

h2 {
	font-family: "Helvetica", sans-serif;
	font-size: 17px;
	font-weight: 100;
	line-height: 1.3;
	text-align: center;
}

img {
	width: 70%;		
	height: auto;
}
video {
	width: 100%;
}

a:link {
  	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
	text-decoration: none; 
}

.nav-list {
  	margin: 50px;
  	height: 100%;
	width: 35%;
}

.page-container {
	width: 100%;
  	height: 100%;
	display: flex;
	overflow: auto;
}

.about {
	width: 100%;
  	height: 100%;

	text-align: center;
}

.page-content {
	width: 50%;
	overflow: scroll;
}

.index-page-container {
  	width: 100%;
  	height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.work-page-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.intro-container {
	width: 100%;
}

.ella-page-wrapper {
	width: 100%;
	height: 100%;
}

.boxes {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.boxes-contact {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 240px;
}

.text-colour {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.text-wrapper {
	width: 75%;
	height: 100%;
}

.image-wrapper {
	display: flex;
	flex-direction: column;
}

hr {  
    border: none; 
    height: 1px; 
    background: black; 
} 

a:hover {
  	transform: rotate(5deg);
}

section {
	margin: 50px 0 50px 0;
	position: relative;
	justify-content: center;
	display: flex;
}

section div.overlay {
	position: absolute;
	top: 0;
		left: 0;
	background-color: transparent;
	width: 100%;
	height: 100%;
}

section h3 {
	text-align: center;
	position: sticky;
	position: -webkit-sticky;
	top: 15vh;
}

.about {
	width: 75%;
}

@media only screen and (max-width: 600px) {
	
	img {
	width: 100%;		
	height: auto;
}
}
	
	